<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softices.kotlintraineeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppThemeNoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:label="Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".activities.SigninActivity"
            android:label="Sign in"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignupActivity"
            android:label="Sign up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="Forgot Password"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.ProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UsersActivity"
            android:label="Users"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GoogleMapActivity"
            android:label="Map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContactsActivity"
            android:label="Contacts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WebserviceActivity"
            android:label="Web Services"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GetServiceActivity"
            android:label="Get Service"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PostServiceActivity"
            android:label="Post Service"
            android:screenOrientation="portrait" />

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="db1e483825e201b9e18fe373f70fe4792c62d32a"
            />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:label="Change Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BroadcastActivity"
            android:label="Broadcast receiver"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DialogActivity"
            android:label="Dialog"
            android:screenOrientation="portrait" />

        <receiver android:name=".receiver.PlugInControlReceiver" />

        <activity
            android:name=".activities.PutServiceActivity"
            android:label="Put Service"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DeleteServiceActivity"
            android:label="Delete Service"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BackgroundServiceActivity"
            android:label="Background Service"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.MyService"
            android:exported="true"
            android:stopWithTask="false" />
    </application>

</manifest>